@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

/* React Flow overrides */
.react-flow__node {
  cursor: pointer;
}

.react-flow__edge-path {
  transition: stroke-width 0.2s ease;
}

.react-flow__edge:hover .react-flow__edge-path {
  stroke-width: 3px !important;
}
